@import 'vars';

////////////////////////////////////////////////////
// TYPOGRAPHY //////////////////////////////////////
////////////////////////////////////////////////////

body {
  -webkit-font-smoothing: antialiased;
  font-family: $default-font;
  font-size: $font-size;
  color: $cool;
}


//////////////////////////////////////////////////////////
// HEADINGS //////////////////////////////////////////////
//////////////////////////////////////////////////////////
h1 {
  font-size: 52px;
  line-height: 60px;
}
h2 {
  font-size: 40px;
  font-weight: 100;
  color: $cool;
  line-height: 48px;
  margin: 0px 0px 40px 0px;
}


//////////////////////////////////////////////////////////
// PARAGRAPHS ////////////////////////////////////////////
//////////////////////////////////////////////////////////
p {
  font-size: $font-size + 8;
  line-height: $baseline;
  margin: 0px 0px 20px 0px;
  color: $cool;
  font-weight: 300;

  &.intro {
    margin-bottom: 40px;
  }

  em {
    font-style: italic;
  }
}

small {
  font-size: $font-size - 2;
  line-height: $baseline - 8;
}